body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    margin-bottom: 20px;
}

.header-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    width: 100%;
    max-width: 1600px;
}

.top-bar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
}

.left-buttons {
    display: flex;
}

.right-button {
    margin-left: auto;
}

.top-button {
    color: #c0c0c0;
    background-color: rgb(105, 45, 45);
    border: none;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

.top-button:hover {
    background-color: #666;
}

.new-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.contact {
    width: 25%;
    background-color: #333;
    padding: 10px;
    margin-right: 10px;
}

.name {
    width: calc(75% - 10px);
    background-color: #c0c0c0;
    padding: 10px;
}

.section-title {
    font-size: 30px;
    color: #c0c0c0;
    font-weight: bold;
    text-align: center;
    background-color: rgb(105, 45, 45);
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-transform: uppercase;
    
}

.email {
    color: #c0c0c0;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}

.city {
    color: #c0c0c0;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    font-size: 1.1rem;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    margin-bottom: -10px;
}

.social-icon {
    color: #c0c0c0;
    font-size: 2rem;
    text-decoration: none;
}

.social-icon:hover {
    color: rgb(105, 45, 45);
}

.myName {
    margin: 0;
    font-size: 3rem;
    text-align: center;
    margin-top: 35px;
}

.position {
    margin-top: 0rem;
    margin-bottom: -1rem;
    font-size: 1.5rem;
    color: rgb(105, 45, 45);
    text-align: center;
    font-size: 2.5rem;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content-container {
    display: flex;
    width: 100%;
}

.left-content {
    width: 25%;
    background-color: #333;
    padding: 10px;
    margin-right: 10px;
    color: #c0c0c0;
    margin-top: -20px;
}

.right-content {
    width: calc(75% - 10px);
    background-color: #c0c0c0;
    padding: 10px;
    margin-top: -20px;
}

.text-base { 
    font-size: 1.1rem;
    margin-top: 0;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin: 0;
    list-style: none;
}

.skill-text {
    flex: 1;
    margin-right: 10px;
}

.stars {
    display: inline-block;
    text-align: center;
    width: 100px;
    color: gold;
    font-size: 20px;
}

.job-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.work-date {
    margin-left: auto;
    font-weight: normal;
    color: rgb(105, 45, 45);
    font-weight: bold;
    font-size: 1.4rem;
}

.company-name {
    color: rgb(105, 45, 45);
    font-size: 1.2rem;
}

.description {
    text-decoration: none;
    font-size: 1.5rem;
}

.experience-info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.item-date {
    font-weight: normal;
    color: rgb(105, 45, 45);
    font-weight: bold;
    font-size: 1.4rem;
    text-align: right;
}

.item-company {
    color: rgb(105, 45, 45);
    font-size: 1.5rem;
}

.red-line {
    border: 1px solid rgb(105, 45, 45);
}

.certification-icons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
    margin-bottom: -30px;
}

.certification-icon {
    text-align: center;
}

.certification-icon img {
    width: 80px;
    height: auto;
}

.certification-icon:hover img {
    opacity: 0.8;
}

.certification-icon p {
    margin-top: 5px;
    color: rgb(105, 45, 45);
    font-size: 1rem;
    font-weight: bold;
}

.certification-icon i {
    margin-top: 20px;
    font-size: 5rem;
    color: rgb(105, 45, 45);
}

.certification-icon:hover i {
    opacity: 0.8;
}

.full-content {
    width: 100%;
    background-color: rgb(105, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
}

.full-content .section-title {
    font-size: 20px;
    color: #c0c0c0;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.cv-content {
    padding: 20px;
    background-color: #c0c0c0;
    width: 100%;
    max-width: 1600px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1.5rem;
}

.cv-content .experience-info li div {
    display: flex;
    align-items: center;
}

.cv-content .experience-info li div strong {
    flex: 0 0 25%;
}

.cv-content .experience-info li div span {
    flex: 1;
    margin-left: 15px;
}

.subtittle {
    color: rgb(105, 45, 45);
    font-weight: bold;
    font-size: 30px;
}

.highlight {
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(105, 45, 45);
}

.language-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.language-option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.language-option:hover {
    background-color: #ddd;
}